{% extends "base.html" %}

{% block content %}
  <div class="content">
    <h2 class="content-title">Task List</h2>

    <div class="d-flex justify-content-between align-items-center mb-3">
      <form method="get" action="{% url 'tasks:index' %}" class="search-form flex-grow-1 me-3">
        <input type="text" name="search" placeholder="Search tasks..." value="{{ search_queryset }}"
               class="search-input">
        <button type="submit" class="search-button">🔍</button>
      </form>
      <a href="{% url 'tasks:task-create' %}" class="btn btn-primary btn-sm" style="white-space: nowrap;">
        Add
      </a>
    </div>

    <table class="task-table">
      <colgroup>
        <col style="width: 15%;"> <!-- Name -->
        <col style="width: 20%;"> <!-- Description -->
        <col style="width: 10%;"> <!-- Deadline -->
        <col style="width: 10%;"> <!-- Priority -->
        <col style="width: 10%;"> <!-- Task Type -->
        <col style="width: 15%;"> <!-- Assignees -->
        <col style="width: 10%;"> <!-- Completed -->
        <col style="width: 10%;"> <!-- Actions -->
      </colgroup>
      <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Deadline</th>
        <th>Priority</th>
        <th>Task Type</th>
        <th>Assignees</th>
        <th>Completed</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      {% for task in page_obj %}
        <tr>
          <td>{{ task.name }}</td>
          <td>{{ task.description|truncatechars:30 }}</td>
          <td>{{ task.deadline }}</td>
          <td><span class="priority-badge {{ task.priority|lower }}">{{ task.priority }}</span></td>
          <td>{{ task.task_type }}</td>
          <td>
            {% for assignee in task.assignees.all %}
              <span class="assignee"><a href="{% url "tasks:worker-detail" pk=assignee.id %}" style="text-decoration: none; color: white">{{ assignee.username }}</a></span>
            {% endfor %}
          </td>
          <td>
            <div class="status-container">
              <a href="{% url 'tasks:toggle-task-status' task.id %}" class="status-toggle">
                {% if task.is_completed %}
                  <span class="completed">✔️</span>
                {% else %}
                  <span class="not-completed">❌</span>
                {% endif %}
              </a>
            </div>
          </td>
          <td>
            <div class="actions-container">
              <a href="{% url 'tasks:task-update' task.id %}" class="btn btn-edit">Edit</a>
              <a href="{% url 'tasks:task-delete' task.id %}" class="btn btn-delete">Delete</a>
            </div>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
